* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


header.navbar-container .heading{
color: white;
}
header.navbar-container {
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(3, 3, 116);
    padding-block: 1rem;
    z-index: 999;
    padding: 12px;
    display: flex;
    }
header.navbar-container .nav-list ul {
    padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
  }

  header.navbar-container .nav-list li {
    list-style-type: none;
  }

  header.navbar-container .nav-list li a {
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 500;
    color: white;
    padding: .5rem 1.5rem;
    border-radius: 999px;
    transition: all .2s ease-in-out;
  }

  main {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    padding: 16px;

}


.input_section {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid black;
  border-radius: 10px;
}

.input_section > h2 {
  text-align: center;
}

.input_section > form > .input {
  margin: 8px 0;
}

.input_section > form > button {
  background-color: rgb(14, 14, 131);
  color: white;
  border: 0;
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 8px;
  cursor: pointer;
}

.input_section > form > button > span {
  font-weight: bold;
}

.input_section > form > .input > input {
  display: block;
  width: 95%;
  padding: 8px;
  border-radius: 5px;
}


.input_section > form > .input > label {
  font-weight: bold;
}

.input_section > form > .input_inline {
  margin: 12px 0;
  display: flex;
  align-items: center;
}

.input_section > form > .input_inline > label {
  font-weight: bold;
  margin-right: 10px;
}

.search_section {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border: 1px solid black;
  border-radius: 10px;
}

.book_shelf {
  margin: 16px 0 0 0;
  border: 1px solid black;
  padding: 16px;
  border-radius: 10px;
}


.book_shelf > .book_list {
  padding: 16px;
}

.book_shelf > .book_list > .book_item {
  padding: 8px 16px 16px 16px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px 0;
}

.book_shelf > .book_list > .book_item > h3, p {
  margin: 8px 0;
}

.book_shelf > .book_list > .book_item > .action > button {
  border: 0;
  padding: 5px;
  margin: 0 5px 0 0;
  border-radius: 5px;
  cursor: pointer;
}

.book_shelf > .book_list > .book_item > .action > .green {
  background-color: darkgreen;
  color: white;
}

.book_shelf > .book_list > .book_item > .action > .yellow {
  background-color: yellow;
  color: white;
}


.book_shelf > .book_list > .book_item > .action > .red {
  background-color: darkred;
  color: white;
}

.footer {
  background-color: rgb(3, 3, 116);
  padding: .5rem;
  color: white;
  justify-content: center;
  text-align: center;
 }

